/*Styles for form layout*/
.configForm{
    margin-left: 5px;
    width: 750px;
}
.configSectionLeft {
    margin-left: 5px;
    margin-right: 5px;
    width: 250px;
}
.configSectionRight {
    width: 500px;
    margin-left: 5px;
    margin-right: 5px;
}

.extraInfo{
    padding-left: 10px;
}
.resultHolder{
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    width: 660px;
}
.chart{
    vertical-align: top;
    display: inline-block;
    height: 165px;
    width: 330px;
}
.MainChart{
    vertical-align: top;
    display: inline-block;
    height: 330px;
    width: 660px;
}
.divTable{
    display: table;
}
.divRow{
    display: table-row;
}
.divCell{
    display: table-cell;
}

.usedCard{
    border: 1px solid black;
    margin-left: 2px;
    padding: 1px;
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    min-height: 105px;
    min-width: 125px;
}
.usedCardsImages{
    align-items: center;
    width: 75px;
    height: 105px;
}
.usedCardsValues{
    align-items: center;
}

.radioButtonSection{
    border: 1px solid black;
    width: 300px;
}

.expandButton{
    
}
.analyzeButton {

}

.configLabelMulligan {
    display: inline-block;
    min-width: 230px;
}
.configLabelEconomy {
    display: inline-block;
    min-width: 140px;
}
.configLabelGreaterChar {
    display: inline-block;
    min-width: 210px;
}

.decklist {
    width: 240px;
    min-height: 450px;
}

.hidden{
    display: none;
}

body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
